<main id="view-panel">
		<div class="container-fluid">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<large class="card-title">
							<b>Nhập thông tin khách hàng</b>
						</large>
					</div>
					<form id="manage-flight">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="">
                                    <label for="">Mã khách hàng</label>
                                    <input name="seats" id="seats" type="text" step="any"
                                        class="form-control text-left" value="" placeholder="Nhập mã khách hàng">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="">Tên khách hàng</label>
                                    <input name="price" id="price" type="text" step="any"
                                        class="form-control text-left" value="" placeholder="Nhập họ tên khách hàng">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="">
                                    <label for="">Email</label>
                                    <input name="seats" id="seats" type="email" step="any"
                                        class="form-control text-left" value="" placeholder="Nhập email khách hàng">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="">Số điện thoại</label>
                                    <input name="price" id="price" type="number" step="any"
                                        class="form-control text-left" value="" placeholder="Nhập sđt khách hàng">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="">
                                    <label for="">Tài khoản</label>
                                    <input name="seats" id="seats" type="text" step="any"
                                        class="form-control text-left" value="" placeholder="Nhập tài khoản">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="">
                                    <label for="">Mật khẩu</label>
                                    <input name="seats" id="seats" type="password" step="any"
                                        class="form-control text-left" value="" placeholder="Nhập mật khẩu">
                                </div>
                            </div>
                        </div>
						<div class="row form-group">
							<div class="col-md-4">
								<div class="">
									<label for="">Giới tính</label>
									<select name="departure_airport_id" id="departure_location"
										class="custom-select browser-default select2">
										<option value=""></option>
										<option value="">Nam</option>
										<option value="">Nữ</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="">
									<label for="">Ngày sinh</label>
									<input type="date" name="arrival_datetime" id="arrival_datetime"
										class="form-control" value="">
								</div>
							</div>
						</div>
					</form>
					<div class="card-header">
						<button class="btn btn-primary btn-block col-md-1 float-right" type="button" id="new_flight"><i
								class="fa fa-plus"></i> Thêm</button>
					</div>
				</div>
			</div>
		</div>
	</main>