<div class="favourite-place place-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <h2>GIỚI THIỆU</h2>
                </div>
            </div>
        </div>
        <div class="support-company-area servic-padding fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">
                            <img src="img/Gioithieu.png" alt="">
                            <div class="support-img-cap">
                                <span>FLY TEAM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <div class="section-tittle section-tittle2">
                                <h2>Hãy đến với Fly Team <br>Chúng tôi luôn luôn chào đón.</h2>
                            </div>
                            <div class="support-caption">
                                <p>Fly Team là một hãng hàng không của Việt Nam cung cấp mô hình tiết kiệm cho các
                                    chuyến bay nội địa quốc tế. Với khẩu hiệu "An toàn là trên hết!", Fly Team phục
                                    vụ hầu hết mọi chuyến bay cho khách hàng. Fly Team cung cấp ba loại hạng ghế, bao
                                    gồm hạng phổ thông, hạng thương gia và hạng phổ thông cao cấp</p>
                                <div class="select-suport-items">
                                    <label class="single-items">An toàn là trên hết!
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Luôn phục vụ khách hàng.
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Làm việc 24/24.
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Đảm bảo tính an toàn.
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>