<div class="favourite-place place-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <h2>DANH SÁCH VÉ</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <large class="card-title">
                            <b>DANH SÁCH VÉ</b>
                        </large>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered" id="flight-list">
                            <colgroup>
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">MCB</th>
									<th class="text-center">Ngày bay</th>
									<th class="text-center">Hạng chuyến bay</th>
									<th class="text-center">Nơi đi</th>
									<th class="text-center">Nơi đến</th>
									<th class="text-center">Giờ khởi hành</th>
									<th class="text-center">Giờ hạ cánh</th>
									<th class="text-center">Quãng đường</th>
									<th class="text-center">Giá tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CB01</td>
									<td>08/06/2022</td>
									<td class="text-center">Phổ thông</td>
									<td class="text-center">Hà Nội</td>
									<td class="text-center">Đà Nẵng</td>
									<td class="text-center">08/06/22 13-23</td>
									<td class="text-center">08/06/22 15-23</td>
									<td class="text-center">300.5</td>
									<td class="text-center">1,600,000</td>
                                    <td class="text-center"><a href="./detail_book" class="text-blue">Xem chi tiết</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
