<section class="button-area">
    <div class="container box_1170 border-top-generic">
        <div class="button-group-area mt-10">
            <a href="./searchflyteam" class="btn primary-border e-large">Thông tin chuyến bay</a>
            <a href="./inforcustomer" class="btn success-border e-large">Thông tin khách hàng</a>
            <a href="./service" class="btn primary-border e-large">Dịch vụ</a>
            <a href="./payment" class="btn success-border e-large">Thanh toán</a>
        </div>
    </div>
</section>

    <section class="">
        <div class="container">
            <div class="row d-flex justify-contnet-center">
                <div class="col-lg-12 post-list " style="background-color: #CBA6FB;">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h4><span><img src="img/payment/thanhtoan.png" alt=""></span> Thanh toán</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div>
    <section class="mt-30">
        <div class="container">
            <div class="row d-flex justify-contnet-center border border-dark">
                <div class="col-lg-12 post-list " style="background-color: #CBA6FB;">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h4><span><img src="img/payment/customer.png" alt=""></span> Khách hàng</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <form id="registerForm" name="sentRegister" novalidate="novalidate">
                        <div class="row">
                            <div class="offset-2 col-md-8">
                                <div class="form-group">
                                    <p>Tên khách hàng: <input class="form-control" id="username" type="text" placeholder="Họ và tên khách hàng"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Loại khách hàng:<input class="form-control" id="loai" type="text" placeholder="Loại khách hàng"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-30">
        <div class="container">
            <div class="row d-flex justify-contnet-center border border-dark">
                <div class="col-lg-12 post-list " style="background-color: #CBA6FB;">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h4><span><img src="img/payment/information_book.png" alt=""></span> Thông tin đặt vé</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <form id="registerForm" name="sentRegister" novalidate="novalidate">
                        <div class="row">
                            <div class="offset-2 col-md-8">
                                <div class="form-group">
                                    <p>Nơi đi - nơi đến: <input class="form-control" id="where" type="text" placeholder="Nơi đi - nơi đến"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Giờ khởi hành: <input class="form-control" id="starttime" type="text" placeholder="Giờ khởi hành"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Giờ đến: <input class="form-control" id="endtime" type="text" placeholder="Giờ đến"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Hạng vé đã chọn: <input class="form-control" id="hang" type="text" placeholder="Hạng vé đã chọn"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Dịch vụ: <input class="form-control" id="service" type="text" placeholder="Dịch vụ"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-30">
        <div class="container">
            <div class="row d-flex justify-contnet-center border border-dark">
                <div class="col-lg-12 post-list " style="background-color: #CBA6FB;">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <h4><span><img src="img/payment/chiphi.png" alt=""></span> Chi phí</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-30">
                    <form id="registerForm" name="sentRegister" novalidate="novalidate">
                        <div class="row">
                            <div class="offset-2 col-md-8">
                                <div class="form-group">
                                    <p>Giá vé: <input class="form-control" id="price" type="number" placeholder="Giá vé"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Phí an ninh soi chiếu: <input class="form-control" id="anninh" type="number" placeholder="Phí an ninh soi chiếu"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Phí sân bay nội địa: <input class="form-control" id="sanbay" type="number" placeholder="Phí sân bay nội địa"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Phí thu quản trị hệ thống: <input class="form-control" id="quantri" type="number" placeholder="Phí thu quản trị hệ thống"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Phí dịch vụ: <input class="form-control" id="phidv" type="number" placeholder="Phí dịch vụ"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Thuế VAT: <input class="form-control" id="VAT" type="number" placeholder="Thuế VAT"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <p>Tổng chi phí: <input class="form-control" id="VAT" type="number" placeholder="Tổng chi phí"
                                        required="required"></p>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="mt-10">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-12 post-list">
                    <div class="media align-items-center ">
                        <div class="media-body ">
                            <a href="#"><button type="submit" class="btn" value="submit">Thanh toán</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>